.box {
  color: black;
  background-color: #f4f7f5;
  padding: 1% 1%;
  margin: 1% 1%;
  max-height: 17vh;
  max-width: 70%;
  display: grid;
  grid-template-columns: 1.7fr 0.3fr;
  justify-content: space-between;
  transition: max-width 0.7s, max-height 0.7s;
  overflow-wrap: break-word;
  overflow: hidden;
}

.box:hover {
  max-width: 95%;
  max-height: 50vh;
}

.box:hover .img {
  max-width: 25vh;
}

.box p {
  font-size: 2vh;
  padding: 1%;
}

.box h2 {
  font-size: 3vh;
  padding: 1%;
}

.box h4 {
  font-size: 2vh;
  padding: 1%;
}

.section-header {
  font-size: 30px;
  margin-left: 1%;
  color: #f4f7f5;
}

.info {
  display: grid;
  margin-left: 1%;
}

.img {
  max-width: 20vh;
  height: auto;
  transition: max-width 0.7s;
}

.details {
  opacity: 0%;
  max-height: 0%;
  max-height: 0%;
  transition: opacity 0.7s ease-in-out;
}

.box:hover .details {
  opacity: 100%;
}
