.box {
    color: black;
    background-color: #F4F7F5;
    padding: 1% 1%;
    margin: 1% 1%;
    max-height: 12vh;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    transition: background-color 1s, color 1s, max-width 1s, max-height 1s;
    border-radius: 10px;
    overflow: hidden;

}

.box:hover {
    background-color: black;
    max-width: 95%;
    max-height: 50vh;
    color: #F4F7F5;
} 

.experience-info {
    display: grid;
    padding-right: 10%;
}

.img {
    max-width: 25vh;
    height: auto;
    border-radius: 10px;
    display: block;
}

.experience-details {
    opacity: 0%;
    max-height: 0%;
    background-color: aqua;
    max-height: 0%;
    transition: opacity 1s ease-in-out;
}

.box:hover .experience-details {
    opacity: 100%;
}

