.navbar {
    display: flex;
    height: 15vh;
    width: 100%;
    color: #F4F7F5;
}

.site-name {
    width: 50%;
    margin: 0;
    font-size: 3vh;
    align-items: center;
    justify-content: center;
    text-align: left;
    line-height: 15vh;
    padding-left: 1%;
}

.site-menu {
    font-size: 1vw;
    width: 50%;
    padding-right: 1%;
    text-align: right;
    line-height: 15vh;
}

a {
    text-decoration: none;
    margin: 0px 10px;
    color: #F4F7F5;
}