<div class="wrapper">
    <app-header></app-header>
    <div class="content-wrapper">
        <app-nav></app-nav>
        <div class="content-container" *ngIf="activeNavItem == 'Projects'">
            <div class="section-header">
                <h2>Projects</h2>
            </div>
            <div *ngFor="let data of projects">
                <app-project [proj]="data"></app-project>
            </div>
        </div>
        <div class="content-container" *ngIf="activeNavItem == 'Experience'">
            <div class="section-header">
                <h2>Experience</h2>
            </div>
            <app-experience></app-experience>
        </div>
        <div class="content-container" *ngIf="activeNavItem == 'Education'">
            <div class="section-header">
                <h2>Education</h2>
            </div>
            <app-education></app-education>
        </div>
    </div>
</div>