.wrapper {
    margin: 0 auto;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-container {
    width: 100%;
    display: inline-block;
    grid-column: 2;
}

.section-header {
    font-size: 25px;
    margin-left: 1%;
    color: #F4F7F5;
}